<div id="dialog-form" title="Make a New Plate!">
  <%= image_tag("/", height: "500", id: "selected_plate") %>
  <form>
  <fieldset>
    <label for="plate_description">What is this?</label>
    <input type="text" name="plate_description" id="plate_description" class="text ui-widget-content ui-corner-all" /><br>
    <label for="plate_location">Where'd you get stuft?</label>
    <input type="text" name="plate_location" id="plate_location" value="" class="text ui-widget-content ui-corner-all" /><br>
    <label for="plate_price">How much did it cost?</label>
    <input type="text" name="plate_price" id="plate_price" value="" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>