<div id="comment-form" title="Add a Comment!">
  <form>
    <label for="comment-content"><h2>What do you think?</h2></label>
    <br>
    <textarea rows="8" cols="65" name="comment-content" id="comment-content" class="text ui-widget-content ui-corner-all"></textarea>
  </form>
</div>