<div id="tag-form">
  <form>
    <%= label :tag_tokens, "Tags" %>
    <%= hidden_field_tag :plate_id, plate.id %>
    <%= text_field_tag :tag_tokens, "", data: {load: plate.ordered_tags} %>
  </form>
</div>