<div id="plates-index">
  <% if current_user %>
  <h2 class="text-center">Welcome, <%= current_user.username %>!</h2>
  <% end %>

  <div id="infinite-scroll">
    <% @all_plates.each do |plate| %>
    <div class="wall-photo item">
      <%= link_to image_tag(plate.url), plate_path(plate), id: "#{plate.id}", class: "index-photo", "data-drools" => plate.drool_count %>
    </div>
    <% end %>
  </div>

  <nav id="page_nav">
    <a href="page2.html"></a>
  </nav>
</div>
