<h1>STUFT</h1>

<% if current_user %>
  Welcome <%= current_user.username %>! <br>
<% end %>

<% @all_plates.each do |plate| %>
  <%= link_to image_tag(plate.url), plate_path(plate), id: "#{plate.id}" %>
  <p><%= plate.description %></p>
<% end %>