<h1>Welcome to Stuft</h1>

<h2><%= "#{@user.username}'s Profile Page" %></h2>

<h3>Your Plates</h3>
<% @plates.each do |plate| %>
  <%= link_to image_tag(plate.url), plate_path(plate), id: "#{plate.id}", :class => 'img-circle' %>
  <p><%= plate.description %></p>
<% end %>
