<h1 class="text-center">Welcome to Stuft</h1>

<h2 class="text-center"><%= "#{@user.username.capitalize}" %></h2>
<%= link_to image_tag(@user.profile_pic, :type => :instagram_name, :size => "150x150", :id => "selected_plate", :crop => :fill), @user.instagram_url %>

<h3 class="col-lg-6">Your Plates</h3>
<% @user.plates.each do |plate| %>
  <div class="photo">
    <%= link_to image_tag(plate.url), plate_path(plate), id: "#{plate.id}" %>
    <%= plate.description %>
  </div>
<% end %>
