<h1>Welcome to Stuft</h1>

<% if current_user %>
  Welcome <%= current_user.username %>!
  <%= link_to "Sign Out", signout_path %>
  <% @instagram.each do |instagram| %>
    <%= image_tag instagram.images.standard_resolution.url %>
  <% end %>
<% else %>
  <%= link_to "Sign in with Instagram", "/auth/instagram" %>

<% end %>



