#edit-btn {
  position: absolute;
  margin-top: -18.5%;
  margin-left: -10.5%;
  text-align: center;
  width: 12%;
}

#delete-btn {
  position: absolute;
  margin-top: -12.5%;
  margin-left: -10.5%;
  text-align: center;
  width: 12%;
}