// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 75px;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-link {
  font-size: 19px;
}