// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 75px;
  width: 100%;
  height: 100%;
}

.centered {
  margin: 0 auto;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-link {
  font-size: 19px;
}

.photo, .large-photo, .tiny-photo, .small-photo, .wall-photo, .show-profile-photo { 
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC;
  text-align: center;
  display: inline-block;
}

.photo, .large-photo {
  padding: 12px;
  margin: 20px 15px;
  font: 20px/1.4em Arial, sans-serif;
}

.photo, .tiny-photo, .small-photo {
  width: 29.5%;
}

.large-photo {
  width: 90%;
}

.show-profile-photo {
  width: 70%;
}

.shift-down {
  margin-top: 50px;
}

.wall-photo {
  width: 32.7%;
}

.tiny-photo, .small-photo, .show-profile-photo {
  padding: 3px;
  margin: 3px;
}

.wall-photo {
  padding: 1px;
  margin-bottom: 2px;
}

.wall-photo img {
  margin-bottom: 1px;
}

.photo img, .small-photo img, .wall-photo img, .show-profile-photo img { 
  border: 1px solid #CCCCCC;
  vertical-align:middle; 
  width: 100%;
  position: relative;
}

.photo img, .small-photo img {
  margin-bottom: 3px;
}

#profile-pic {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.vote-text {
  font-size: 45px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  position: absolute;
  margin-top: -18%;
  margin-left: 1%;
  text-align: center;
  width: 30%;
}

.show-votes {
  opacity: 0.65;
}
